#container {
  min-height: 95vh;
}

#article-wrapper,
#home-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: 40px auto;
}

.order1 {
  order: 1;
  width: 78%;
  margin-right: 10px;
}

.order2 {
  order: 2;
  width: 22%;
  margin-left: 10px;
}

#home-wrapper .order1 {
  width: 65%;
}