/*
 * article
 */
#article-container {
  background-color: rgb(255, 248, 240);
  padding: 40px 10px;
  margin-bottom: 70px;
  box-shadow: 2px 2px 4px gray;
}


/*
 * article header
 */
#article-header p {
  margin: 0;
}

#date-container {
  display: inline-block;
  font-size: 24px;
  border-bottom: solid thin gray;
  margin-left: 40px;
  padding: 0 5px;
}

#title-container {
  text-align: center;
  font-size: 24px;
  width: 80%;
  margin: 0 auto 20px auto;
}

#title-container h2 {
  margin-bottom: 0;
  border-bottom: solid thin gray;
  display: inline-block;
}


/*
 * category
 */
#category-container {
  width: 80%;
  margin: 0 auto;
}

.category-list ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  font-size: 22px;
  padding: 0;
}

.category-list li {
  margin: 0 20px;
  background-color: yellowgreen;
  border-radius: 5px;
  padding: 1px 5px;
}


/*
 * article content
 */
#article-content {
  width: 86%;
  margin: 90px auto 50px auto;
  font-size: 20px;
}


/*
 * article footer
 */
#article-footer {
  height: 50px;
}

#article-share-box {
  margin-bottom: 50px;
}

#article-share-box ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#article-share-box li {
  text-align: center;
  font-size: 22px;
  margin: 0 30px;
  background-color: orange;
  width: 40px;
  height: 40px;
}