#category-list {
  margin-bottom: 200px;
}

#category-list h2 {
  font-size: 36px;
  margin: 10px 70px 50px 70px;
  display: inline-block;
  border-bottom: solid thin gray;
}

#category-list ul {
  list-style: none;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}

#category-list li {
  margin: 0 10px;
  background-color: greenyellow;
  padding: 2px 5px;
  border-radius: 5px;
}