/*
 * common header
 */
#common-header {
  height: 60px;
  background-color: var(--base-color);
  position: relative;
  box-shadow: 2px 2px 4px white;
}

#common-header a {
  text-decoration: none;
  color: var(--base-font-color);
}

#common-header a:hover {
  opacity: 0.7;
}

#common-header h1 {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 70px;
  font-size: 32px;
  margin: 0;
}

#common-nav {
  position: absolute;
  display: inline-block;
  right: 100px;
  top: 10px;
}

#common-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

#common-nav-list li {
  margin: 0 25px;
}


/*
 * image header
 */
#image-header {
  text-align: center;
  height: 400px;
}

#image-header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/*
 * bar
 */
#common-bar {
  background-color: var(--base-color);
  border-bottom: solid 1px rgb(197, 197, 197);
  text-align: center;
  position: relative;
  padding: 20px 100px;
}

.sns-link-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sns-link-list li {
  margin: 0 30px;
  background-color: orange;
  height: 50px;
  width: 50px;
  border-radius: 10px 10px;
}


/*
 * footer
 */
#footer {
  padding: 50px 0;
  width: 100%;
  background-color: var(--base-color);
  text-align: center;
}


/*
 * page
 */
#page-container {
  margin: 40px 0;
}

.page-component {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.page-component li {
  margin: 0;
  font-size: 28px;
}

.page-element {
  text-align: center;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/*
 * side bar
 */
#side-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.side-bar-title {
  background-color: var(--base-color);
  box-shadow: 2px 2px 4px gray;
}

.side-bar-title h3 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

.side-bar-content {
  height: 200px;
  padding: 10px;
  background-color: whitesmoke;
  font-size: 18px;
  margin: 10px 0 30px 0;
  box-shadow: 2px 2px 4px gray;
}